name: Build iOS App

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: aarch64-apple-ios, aarch64-apple-ios-sim

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Install cargo-binstall
        uses: uses: cargo-bins/cargo-binstall@main

      - name: Install Dioxus CLI via binstall
        run: cargo binstall dioxus-cli -y

      - name: Build for iOS
        run: dx build --platform ios --release

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ios-build
          path: dist/ios/
